* {
    margin: 0;
    padding: 0;
}

body {
    background: violet;
    color: red;
}


.container {
    width: 100%;
    height: auto;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header header header"
        "herosection herosection sidebar sidebar sidebar"
        "herosection herosection sidebar sidebar sidebar"
        "footer footer sidebar sidebar sidebar";
}



.container>div {
    background: #fff;
    border-radius: 5px;
    ;
}

.container .header {
    grid-area: header;
}

.container .herosection {
    grid-area: herosection;
}

.container .sidebar {
    grid-area: sidebar;
}

.container .footer {
    grid-area: footer;
}

// MEDIA QUERIS//

//TABLET//



@media screen and (max-width:768px) {
    .container {
        grid-template-areas: "header header header header header"
            "sidebar sidebar sidebar sidebar sidebar"
            "herosection herosection herosection herosection herosection"
            "footer footer footer footer footer";
    }

    .herosection .boton { margin-bottom: 20px;}


}

//CELU 328 PX//

@media screen and (max-width:328px) {
    .container {
        grid-template-areas: "header header header header header"
            "sidebar sidebar sidebar sidebar sidebar"
            "herosection herosection herosection herosection herosection"
            "footer footer footer footer footer";
    }


    .texto__hero { text-align: start;
                 padding-right: 0px;}


    .herosection .boton { margin-bottom: 20px;}


}